/* General styles */
* {
	box-sizing: border-box;
}

body {
	background: #131313;
	color: #dadada;
	font-family: "Proza Libre", sans-serif !important;
}

section:nth-child(1) {
	display: flex;
	justify-content: center;
	margin: 3rem 0;
}

header {
	display: block;
}

.title {
	display: block;
}

img {}

.tiki {
	height: 15rem;
}

.intro {
	padding: 0 10%;
	text-align: center;
	margin: 5rem 0;
	font-size: 24px;
}

a {
	color: #be3d26;
	text-decoration: none;
}

.friends {
	padding: 0 10%;
	text-align: center;
	margin-bottom: 10rem;

}

.carousel-item {
	width: 100%;
	max-height: 900px;
}

.carousel-inner {
	border-radius: 20px;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Fading animation */
.fade-in {
	animation: fadeIn 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-out {
	animation: fadeOut 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.button-wrapper {
	display: flex;
	justify-content: center;
}

.button {
	--color: #be3d26;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s;
	border: none;
	background-color: transparent;
	margin-bottom: 2rem;
	text-decoration: none;
}

.button div {
	font-family: "Proza Libre", sans-serif;
	letter-spacing: 2px;
	font-size: 1.5rem;
	background: var(--color);
	border-radius: 2rem;
	color: white;
	padding: 1rem;
}

.button::before {
	content: '';
	z-index: -1;
	background-color: var(--color);
	border: 2px solid #131313;
	border-radius: 2rem;
	width: 110%;
	height: 100%;
	position: absolute;
	transform: rotate(10deg);
	transition: .5s;
	opacity: 0.2;
}

.button:hover {
	cursor: pointer;
	filter: brightness(1.2);
	transform: scale(1.1);
}

.button:hover::before {
	transform: rotate(0deg);
	opacity: 1;
}

.button svg {
	transform: translateX(-200%);
	transition: .5s;
	width: 0;
	opacity: 0;
}

.button:hover svg {
	width: 25px;
	transform: translateX(0%);
	opacity: 1;
}

.button:active {
	filter: brightness(1.4);
}

.bottom-section {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	/* Ensure there's space between sections */
}

.phone {
	font-size: 2rem;
}

.phone {
	text-align: center;
}

.phone a {
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	position: relative;
}

.phone i {
	color: #ffffff;
	display: block;
	margin: 0 auto;
}

.phone .number-container {
	display: inline-block;
	text-align: center;
}

/* .phone .number-container div {
	font-size: 16px;
} */

.phone .number-container .tiki {
	position: relative;
}

.phone .number-container .extension {
	position: absolute;
	right: -20px;
	top: 70px;
}

img.gt-para {
	height: 10rem;
	width: 10rem;
}